/*
* @Author: we
* @Date:   2019-06-14 09:36:03
* @Last Modified by:   we
* @Last Modified time: 2019-06-16 13:32:08
*/
a{
	text-decoration:none;
	color:black;
}
ul{
	list-style:none;
}
*{
	margin:0px;
	padding:0px;
}
.z{
	text-align:center;
}
.a{

	height:190px;
	background:white;
	border-bottom:4px #3aa747 solid;
}
.a div{
	padding-bottom:0px;
}
.a1{
	margin:0 auto;
	width:1200px;
	height:36px;
	clear:bottom: ;

}
#a11{
	font-size:14px;
	padding-left:530px;
	color:black！important;
}
.a1 ul li{
	float:left;
	line-height:36px;
}
.a1 ul li a{
	padding-left:20px;
}
.a1 form ul li img{padding-top: 2px;}
.a13{padding-left:30px;}
.a12{padding-left:45px;
      }
.a14{padding-left:10px;}
.a2{
	height:115px;
	width:1200px;
	background:url('logo.png') 0px center no-repeat;
	margin:0 auto;
	clear:top;
}
.a2 ul li{
	float:left;
}
.a22{
	width:540px;
	height:45px;
	border:1px black solid;
	text-align:center;
	margin-left:410px;
	float:left;
	margin-top:30px;
}

.a2 ul li img{

	margin-top:45px;
	margin-left: 130px;
}
.a21{
	width:60px;
	height:45px;
	border:1px black solid;
	border-left:0px none;
	background:url('search.png') no-repeat center;
	float:left;
	margin-top:30px;
	margin-left:0px;
}
.a3{
	width:1200px;
	height:37px;
	margin:0 auto;
}
.a3 ul li {
	float:left;
	line-height:37px;
	height:37px;
}
.a3 ul li img{
	padding-top:6px;
}
.a31 li{
	width:88px;
	height:37px;
	margin-left:25px;
	text-align:center;
}
.a31 li:hover{
	color:#3aa747;
	border-bottom:3px #3aa747 solid;
}
.b{
	height:670px;
	
	margin:0 auto;
	border-bottom: :1px #7f7f7f solid;
	background:url('banner.png') no-repeat center;
}
.c{
	width:1200px;
	height:60px;
	margin:0 auto;
}
.c ul{margin-left:30px;}
.c ul li{
	float:left;
	line-height:60px;
}
.c span p{
	float:right;
	color:#bebebe;
	font-size:14px;
	margin-top:32px;
}
.c1{
	padding-left:14px;
	color:#bebebe;
	font-size:14px;
}
.d{
	width:1200px;
	height:140px;
	margin:0 auto;
}
.d ul:first-child{
	width:1200px;
	height:45px;
	border:1px #cccccc solid;
}
.d ul{
	width:1200px;
	height:45px;
	border-bottom:1px #cccccc solid;
	border-right:1px #cccccc solid;	
	border-left:1px #cccccc solid;
}
.d ul li:first-child{
	background:#e5e5e5;
	width:100px;
	padding-right:0px;
	color:black;
}
.d ul li{
	float:left;
	width:100px;
	height:45px;
	line-height:45px;
	padding-right:33px;
	color:#aaaaaa;
}
#d4{
	float:right;
	padding-right:0px;
}
#d5{
	color:#4fae59;
}
#d6{
	color:#4fae59;
}
.e{
	width:1200px;
	height:760px;
	margin:0 auto;
	margin-top:60px;
	
}
.e1{
	background:url('img1.png') no-repeat center;}
.e2{background:url('img2.png') no-repeat center;}
.e3{background:url('img3.png') no-repeat center;}
.e4{background:url('img4.png') no-repeat center;}
.e5{background:url('img5.png') no-repeat center;}
.e6{background:url('img6.png') no-repeat center;}
.e7{background:url('img7.png') no-repeat center;}
.e8{background:url('img8.png') no-repeat center;}
.f1 li{
	float:left;
	width:270px;
	height:290px;
	border:1px #878787 solid;
	margin-right:30px;
	position:relative;
}
.f2 li{
	float:left;
	width:270px;
	height:290px;
	border:1px #878787 solid;
	margin-right:30px;
	margin-top:30px;
	position: relative;

}
.f1 li:last-child{	margin-right:0px;}
.f2 li:last-child{	margin-right:0px;}

.e ul{
	margin-left:10px;
}
.e ul li div{
	height:50px;
	width:271px;
	position:absolute;
	bottom:0px;
	left:0px;
	opacity: 0.7;  
	background:black;

}
.e ul li div:first-child{
	width:271px;
	height:280px;
	background:black;
	opacity: 0.7; 
	position: absolute;
    bottom: 0;
    left:0;
    display: none;
}
.e ul li div:first-child div{
	height:160px;
	
	top:120px;
	opacity: 1; 
	margin:0 auto;
	width:271px;
	height:70px;
}
.e ul li div:first-child div  p{
		float:left;
		font-size:1.2em;
}
.e ul li div:first-child div {
	margin:0 auto;
}
.e ul li div:first-child div p:first-child{
	
}
.e ul li div:first-child div p:last-child{
	float:none;
	margin:0 auto;
	
}
.e ul li  div span,p{color:white;}
.e ul li div{padding-top:10px;}
.e ul li:hover div:first-child{
	display: block;
}
.e ul li:hover div:first-child div{
	display:block;
}

.e ul li:hover div:first-child p{
	display:block;
	color:white;
	

}
.e ul li:hover div:last-child{
	display: none;
}
.g{
	height:100px;
	background:#f5f5f5;
}
.g div{
	width:1200px;
	margin:0 auto;
}
.g div div:first-child{	border-left: 0px none;
}
.g div div{
	height:50px;
	width:295px;
	border-left: 1px #e0e0e0 solid;
	float:left;
	margin-top:28px;

}
.g div div img{
	margin-left:40px;
}
.g div div ul li{
	margin-left:22px;
	text-align:left;
}
.g div div ul li:first-child{font-size:19px;}
.g div div ul li:last-child{font-size:14px;}
.g div div img,ul{
	float:left;
}
.h{
	height:100px;
	background:#323232;
}
.h div{
	width:1200px;
	margin:0 auto;
	text-align:center;

}

.h div p{
	color:white;
	clear:top;
}
.h div p:first-child{
	padding-top:30px;
}
.i{
	position:fixed;
	right:0;
	top:10%;
}
.i ul li{
	width:80px;
	height:120px;
	background:black;
	
}

.i ul li div{
	width:68px;
	height:118px;
	border-bottom:2px #606260 solid;
	margin:0 auto;
}
.i ul li div img{
	margin:0 auto;
	margin-top:40px;
}
